*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  

}
.main{
    height: 100%;
    width: 100%;
    background-image: url(./wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    padding: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    grid-area: 200px,50px;
    overflow: scroll;
    grid-template-areas: none;
}
.dest{
  width: 200px;
    height: 50px;
   margin-left: 25px;
margin-bottom: 125px;

}
button{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 18px;
}
button:hover{
 color: red;
    transform: scale(1.1);
}
